<nav class="navbar">
  <div class="logo">Zdravo Hospital</div>
  <ul class="nav-links" [class.active]="isNavActive" *ngIf="isLoggedIn">
    <li><a href="/appointments" class="nav-link">Appointments</a></li>
    <li><a href="/createAppointment" class="nav-link">Smart Scheduling</a></li>
    <li><a href="/scheduleAppointment" class="nav-link">Schedule Appointment</a></li>
    <li><a href="/feedbacks/add" class="nav-link">Feedbacks</a></li>

    <li><a href="/patientHealth" class="nav-link">Health Information</a></li>
    <li><a href="/dietOverview" class="nav-link">Diet</a></li>
    <li><a href="/trainingsOverview" class="nav-link">Trainings</a></li>

    <li><a href="/patientInfo" class="nav-link">Profile <img src="../../../../assets/images/user-circle-white.png" alt="..." height="30"></a></li>
    <li><a href="" (click)="logout()" class="nav-link">Logout <img src="../../../../assets/images/logout-white.png" style="transform: rotate(180deg);" alt="..." height="30"></a></li>
  </ul>
  <ul class="nav-links" [class.active]="isNavActive" *ngIf="!isLoggedIn">
    <li><a href="/login" class="nav-link">Login</a></li>
  </ul>
  <div class="burger" (click)="toggleNav()">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
</nav>