<h1 mat-dialog-title style="font-size: 1.6rem; font-weight: 500;">Add {{data.mealTypeString}}</h1>
<div mat-dialog-content>
    <p style="font-size: 1.2rem;">Answer the question about your meal.</p>
    <div *ngFor="let question of data.mealQuestions; let i = index">
        <div class="columns">
            <h3>Questions {{i+1}}:</h3>
            <p>{{question.questionText}}</p>
        </div>
        <mat-form-field style="width: 100%;">
            <mat-select [(value)]="mealAnswers[i].answer">
                <mat-option value="-1">Highly disagree</mat-option>
                <mat-option value="-0.5">Disagree</mat-option>
                <mat-option value="0">Neutral</mat-option>
                <mat-option value="0.5">Agree</mat-option>
                <mat-option value="1">Highly agree</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
<div mat-dialog-actions>
    <h3 class="errorMessage">{{errorMessage}}</h3>
    <button mat-raised-button color="secondary" (click)="onNoClick()">Cancel</button>
    <button mat-raised-button color="primary" (click)="onAddMealClick()">Add</button>
</div>