<h1 mat-dialog-title style="font-size: 1.6rem; font-weight: 500">{{ titleText }} {{ getMealTypeString(data.mealType) }}</h1>
<div mat-dialog-content>
  <p style="font-size: 1.2rem">Answer the questions about your meal.</p>
  <div *ngFor="let question of data.mealQuestions; let i = index">
    <div class="columns">
      <p>{{ question.questionText }}</p>
    </div>
    <select class="custom-select" [(ngModel)]="mealAnswers[i].answer" name="mealAnswers">
      <option value="-1">Highly disagree</option>
      <option value="-0.5">Disagree</option>
      <option value="0">Neutral</option>
      <option value="0.5">Agree</option>
      <option value="1">Highly agree</option>
    </select>
  </div>
</div>
<div mat-dialog-actions>
  <h3 class="errorMessage">{{ errorMessage }}</h3>
  <button mat-raised-button color="secondary" (click)="onNoClick()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onAddMealClick()">{{ titleText }}</button>
</div>
