<nav class="navbar navbar-expand-lg navbar-dark bg-dark w-80 mx-auto p-3 shadow-lg" style="border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;">
    <a class="navbar-brand m-0" href="/homeDoctor"><div class="h1 mx-4">Home</div></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/homeDoctor"><div class="h3 m-1">Profile</div></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="appointmentButton" href="/appointments"><div class="h3 m-1">Appointments</div></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/returned-requests"><div class="h3 m-1">Returned requests</div></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/treatments"><div class="h3 m-1">Treatments</div></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/councilOfDoctors"><div class="h3 m-1">Consiliums</div></a>
        </li>
      </ul>
      <div class="mx-auto"></div>

      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link text-white" href="" (click)="logoutUser()"><div class="h3 mx-4 mt-2">Log out</div></a>
        </li>
      </ul>
    </div>

  </nav>

<div class="disvhargePatient">
    <div>

      <h1><b>Discharge of the patient from treatment</b></h1>

        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="treatment.patient.name" disabled>
        </mat-form-field><br>

        <mat-form-field appearance="fill">
            <mat-label>Surname</mat-label>
            <input matInput [(ngModel)]="treatment.patient.surname" disabled>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Room</mat-label>
            <input matInput [(ngModel)]="treatment.roomDto.number.name " disabled>
        </mat-form-field><br>

        <mat-form-field appearance="fill">
            <mat-label>Therapy</mat-label>
            <input matInput [(ngModel)]="treatment.therapy.blood.bloodType" disabled>
            <input matInput [(ngModel)]="treatment.therapy.medicine.name" disabled>
        </mat-form-field>
        
        <mat-form-field appearance="fill">
            <mat-label>Date of patient admission</mat-label>
            <input matInput [(ngModel)]="treatment.dateAdmission" name="dateAdmission" disabled>
        </mat-form-field><br>

        <mat-form-field appearance="fill">
            <mat-label>Date of patient discharge</mat-label>
            <input type="datetime-local" matInput [(ngModel)]="treatment.dateDischarge" >
        </mat-form-field>
       
        <mat-form-field appearance="fill">
            <mat-label>Reason for patient discharge</mat-label>
            <input type="text" matInput [(ngModel)]="treatment.reasonForDischarge" name="reasonForAdmission">
        </mat-form-field><br>

        <button class="dugme" mat-stroked-button (click)="updateTreatment()">
            <b>Discharge</b>
        </button>
    </div>
</div>
