.mat-stroked-button {
    color: #382110;
}

.disvhargePatient{
    margin-top: 40px;
    margin-left: 600px;
    width: 30%;
}

mat-form-field {
    width: 100%;
    margin: auto;
}
.w-80{
    position: inherit;
	width: 80%;
}
.dugme{
    border-color: black;
}