<nav class="navbar navbar-expand-lg navbar-dark bg-dark w-80 mx-auto p-3 shadow-lg" style="border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;">
  <a class="navbar-brand m-0" href="/homeDoctor"><div class="h1 mx-4">Home</div></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/homeDoctor"><div class="h3 m-1">Profile</div></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="appointmentButton" href="/appointments"><div class="h3 m-1">Appointments</div></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/returned-requests"><div class="h3 m-1">Returned requests</div></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/treatments"><div class="h3 m-1">Treatments</div></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/councilOfDoctors"><div class="h3 m-1">Consiliums</div></a>
      </li>
    </ul>
    <div class="mx-auto"></div>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link text-white" href="" (click)="logoutUser()"><div class="h3 mx-4 mt-2">Log out</div></a>
      </li>
    </ul>
  </div>

</nav>

<div class="createAppointment">
    <div>
      <h1><b>Appointment scheduling</b></h1>

        <!-- 
        <mat-form-field appearance="fill">
            <mat-label>Patient</mat-label>
            <mat-select id="patientSelect" matInput>
                <mat-option id="nevena" value=0>Nevena Nevic</mat-option>
                <mat-option id="milos" value=1>Milos Milic</mat-option>
                <mat-option id="nada" value=2>Nada Nadic</mat-option>
                <mat-option id="mikica" value=3>Mikica Mikicovic</mat-option>
              </mat-select>
        </mat-form-field>
        -->

        <mat-form-field appearance="fill">
            <mat-label>Patient</mat-label>
            <mat-select [(ngModel)]="appointment.patient" >
                <mat-option *ngFor="let patient of patients" [value]="patient">{{patient.name}} {{patient.surname}}</mat-option>
            </mat-select>
        </mat-form-field>
    
        <mat-form-field appearance="fill">
            <mat-label>Date and time</mat-label>
            <input id="dateTime" type="datetime-local" matInput [(ngModel)]="appointment.dateTime" name="dateTime">
        </mat-form-field><br>
        <button class="dugme" id="submitButton" mat-stroked-button (click)="createAppointment()">
            <b>Submit</b>
        </button>
    </div>
</div>