<nav class="navbar navbar-expand-lg navbar-dark bg-dark w-80 mx-auto p-3 shadow-lg" style="border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;">
    <a class="navbar-brand m-0" href="/homeDoctor"><div class="h1 mx-4">Home</div></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/homeDoctor"><div class="h3 m-1">Profile</div></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="appointmentButton" href="/appointments"><div class="h3 m-1">Appointments</div></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/returned-requests"><div class="h3 m-1">Returned requests</div></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/treatments"><div class="h3 m-1">Treatments</div></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/councilOfDoctors"><div class="h3 m-1">Consiliums</div></a>
        </li>
      </ul>
      <div class="mx-auto"></div>

      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link text-white" href="" (click)="logoutUser()"><div class="h3 mx-4 mt-2">Log out</div></a>
        </li>
      </ul>
    </div>

  </nav>
<div class="admissionPatient">
    <div>
      <h1><b>Admission of the patient to treatment</b></h1>

        <mat-form-field appearance="fill">
            <mat-label>Patient</mat-label>
            <mat-select [(ngModel)]="treatment.patient" (ngModelChange)="handleOptionChangePatient()">
                <mat-option *ngFor="let patient of patients" [value]="patient">{{patient.name}} {{patient.surname}}</mat-option>
            </mat-select>
        </mat-form-field>
        
        <mat-form-field appearance="fill">
            <mat-label>Room</mat-label>
            <mat-select [(ngModel)]="treatment.roomDto" (ngModelChange)="handleOptionChangeRoom()">
                <mat-option *ngFor="let room of rooms" [value]="room">{{room.number.name}}, Floor: {{room.floor.floor}}</mat-option>
            </mat-select>
        </mat-form-field>
  
        <mat-form-field appearance="fill">
            <mat-label>Bed of choosed room</mat-label>
            <mat-select  [(ngModel)]="pomK" (ngModelChange)="handleOptionChangeBed()">
                <mat-option *ngFor="let bed of kreveti" [value]="bed">{{bed.name}}</mat-option>
            </mat-select>
        </mat-form-field>

        <p>Therapy </p>
        <div class="divTherapy">
        <div>
        <mat-form-field appearance="fill">
          
            <mat-label>Blood type</mat-label>

            <mat-select [(ngModel)]="therapy.blood">
                <mat-option *ngFor="let blood of bloods" [value]="blood">{{blood.bloodType}}
                </mat-option>
            </mat-select>

        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Blood Quantity</mat-label>
            <input type="number" [(ngModel)]="therapy.quantityBlood" matInput  name="quantityBlood">
        </mat-form-field>
        </div>

        <div>
        <mat-form-field appearance="fill">
            <mat-label>Medicine</mat-label>
            <mat-select [(ngModel)]="therapy.medicine">
                <mat-option *ngFor="let medicine of medicines" [value]="medicine">{{medicine.name}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Medicine Quantity</mat-label>
            <input type="number"  [(ngModel)]="therapy.quantitytMedicine" matInput name="quantityMedicine">
        </mat-form-field>
        </div>
        </div>

        <mat-form-field appearance="fill">
            <mat-label>Date of patient admission</mat-label>
            <input type="datetime-local" matInput [(ngModel)]="treatment.dateAdmission" name="dateAdmission">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Reason for patient admission</mat-label>
            <input type="text" matInput [(ngModel)]="treatment.reasonForAdmission" name="reasonForAdmission">
        </mat-form-field><br>
        <button class="dugme" mat-stroked-button (click)="createTreatment()">
            <b>Submit</b>
        </button>
    </div>
</div>
