<nav class="navbar navbar-expand-lg navbar-dark bg-dark w-80 mx-auto p-3 shadow-lg" style="border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;">
    <a class="navbar-brand m-0" href="/homeDoctor"><div class="h1 mx-4">Home</div></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/homeDoctor"><div class="h3 m-1">Profile</div></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="appointmentButton" href="/appointments"><div class="h3 m-1">Appointments</div></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/returned-requests"><div class="h3 m-1">Returned requests</div></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/treatments"><div class="h3 m-1">Treatments</div></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/councilOfDoctors"><div class="h3 m-1">Consiliums</div></a>
        </li>
      </ul>
      <div class="mx-auto"></div>

      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link text-white" href="" (click)="logoutUser()"><div class="h3 mx-4 mt-2">Log out</div></a>
        </li>
      </ul>
    </div>
</nav>
<div class="prescriptions">
    <div class="table-header">
        <p class="table-title"><b>All prescriptions</b></p>
        <div class="searchP" id="wrapper">

            <div id="div1">
                <input type="text" class="form-control" id="search-text" [(ngModel)]="uzorakPretrage" aria-describedby="search-text"
                placeholder="Enter text to search" autofocus>
            </div>

            <div id="div2">
                <button class="dugme" matTooltip="Search report" (click)="searchReports()">
                    <a>
                        <img class="slika" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Search_Icon.svg/1200px-Search_Icon.svg.png" alt="buttonpng" border="0"/>
                    </a>
                </button>
            </div>

            <div id="div3">
                <button class="dugme" matTooltip="Restart" (click)="restart()">
                    <a>
                        <img class="slika" src="https://w7.pngwing.com/pngs/479/787/png-transparent-reset-button-icon-restart-free-text-internet-share-icon-thumbnail.png" alt="buttonpng" border="0"/>
                    </a>
                </button>
            </div>

        </div>
    </div>
    <body>
    <table id="reportsTable" mat-table [dataSource]="dataSource">
        
        <ng-container matColumnDef="patient">
            <th mat-header-cell *matHeaderCellDef class="cell-center"> Patient </th>
            <td mat-cell *matCellDef="let examination" class="cell-center">{{examination.appointment.patient.name}} {{examination.appointment.patient.surname}}</td>
        </ng-container>

        <ng-container matColumnDef="Medicine">
            <th mat-header-cell *matHeaderCellDef class="cell-center"> Medicine </th>
            <td mat-cell *matCellDef="let examination" class="cell-center">{{examination.prescriptions | showMedicines }}</td>
        </ng-container>

        <ng-container matColumnDef="Description">
            <th mat-header-cell *matHeaderCellDef class="cell-center"> Description </th>
            <td mat-cell *matCellDef="let examination" class="cell-center">{{examination.prescriptions | showDescriptions}}</td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    </body>
</div>
