<app-doctor-nav-bar></app-doctor-nav-bar>

<div *ngIf="appointment" class="updateAppointment">
  <h1><b>Update scheduled appointment</b></h1>

    <div>
        <mat-form-field appearance="fill">
            <mat-label>Date and Time</mat-label>
            <input type="datetime-local" id="dateTime" matInput [(ngModel)]="appointment.dateTime" >
        </mat-form-field><br>
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="appointment.patient.name" disabled>
        </mat-form-field><br>
        <mat-form-field appearance="fill">
            <mat-label>Surname</mat-label>
            <input matInput [(ngModel)]="appointment.patient.surname" disabled>
        </mat-form-field>
        <button class="dugme" id="submitButton" mat-stroked-button (click)="updateAppointment()">
            <b>Submit</b>
        </button>
    </div>
</div>