<div>
    <img class="bg" src=".//src//assets//images//welcome.png">
    <div class="d-flex justify-content-end top-55 w-40 bg-dark">
        <div class="display-1 fw-bold text-light px-5 p-3 text-right">GoCare</div>
    </div>
    <button class="btn bg-dark text-light shadow-lg" style="width: 450px; height: 280px; background: #ffaaff; position: fixed; right: -200px; top: -150px; border-radius: 100% 80%" (click)="loginUser()">
        <div style="background: rgb(218, 218, 218); width: 445px; height: 275px; position: inherit; right: -200px; top: -150px; border-radius: 100% 80%"></div>
        <div class="display-4 fw-bold text-dark" style="position: inherit; top: 18px; right: 35px;">Login</div>
    </button>
</div>
