<app-patient-nav-bar></app-patient-nav-bar>

<div class="center">
    <h1>Today's diet</h1>
</div>
<div class="cards-center">
    <mat-card class="card" *ngFor="let mealinfo of mealInfos; let i = index">
        <mat-card-header>
          <mat-card-title>{{mealinfo.mealTypeString}}</mat-card-title>
          <mat-card-subtitle>For day: {{todayDate.toDateString()}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content >
            <p *ngIf="mealinfo.isAdded == true">
                Your {{mealinfo.mealTypeString}} has been added for today.<br/>
                Your meal was: {{mealinfo.mealScore}}
            </p>
            <p *ngIf="mealinfo.isAdded == false">
                Please add {{mealinfo.mealTypeString}} for today.
            </p>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-raised-button color="primary" (click)="openMealDialog(mealinfo.mealTypeNumber, mealinfo.mealTypeString)" [disabled]="mealInfos[i].isAdded">Add {{mealinfo.mealTypeString}}</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="card">
        <mat-card-header>
          <mat-card-title>Water intake</mat-card-title>
          <mat-card-subtitle>For day: {{todayDate.toDateString()}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content >
            <p *ngIf="waterInfo.isAdded == true">
                Your {{waterInfo.mealTypeString}} has been added for today.<br/>
                Your water intake is: {{waterInfo.mealScore}}
            </p>
            <p *ngIf="waterInfo.isAdded == false">
                Please add {{waterInfo.mealTypeString}} for today.
            </p>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-raised-button color="primary" (click)="openWaterDialog(waterInfo.mealTypeNumber, waterInfo.mealTypeString, waterInfo.isAdded)" *ngIf="waterInfo.isAdded==false">Add Water intake</button>
            <button mat-raised-button color="primary" (click)="openWaterDialog(waterInfo.mealTypeNumber, waterInfo.mealTypeString, waterInfo.isAdded)" *ngIf="waterInfo.isAdded==true">Edit Water intake</button>
        </mat-card-actions>
    </mat-card>
</div>

<div class="center">
    <h1>Diet Statistics</h1>
</div>
<div class="charts">
    <div class="chart">
        <canvas id="breakfastScoreChart">{{ breakfastScoreChart }}</canvas>
    </div>
    <div class="chart">
        <canvas id="lunchScoreChart">{{ lunchScoreChart }}</canvas>
    </div>
    <div class="chart">
        <canvas id="dinnerScoreChart">{{ dinnerScoreChart }}</canvas>
    </div>
    <div class="chart">
        <canvas id="waterScoreChart">{{ waterScoreChart }}</canvas>
    </div>
</div>
