/**********W**********/
.w-40{
    position: inherit;
	width: 40%;
}

.w-45{
    position: inherit;
	width: 45%;
}

.w-60{
    position: inherit;
	width: 60%;
}

.w-70{
    position: inherit;
	width: 70%;
}

.w-71{
    position: inherit;
	width: 71%;
}

.w-72{
    position: inherit;
	width: 72%;
}

.w-73{
    position: inherit;
	width: 73%;
}

.w-74{
    position: inherit;
	width: 74%;
}

.w-75{
    position: inherit;
	width: 75%;
}

.w-76{
    position: inherit;
	width: 76%;
}

.w-77{
    position: inherit;
	width: 77%;
}

.w-78{
    position: inherit;
	width: 78%;
}

.w-79{
    position: inherit;
	width: 79%;
}

.w-80{
    position: inherit;
	width: 80%;
}

.w-90{
    position: inherit;
	width: 90%;
}

/**********H**********/
.h-80{
    position: inherit;
	height: 80%;
}

.h-90{
    position: inherit;
	height: 90%;
}

/**********START**********/
.start-8{
    position: absolute;
    left: 8%;
}

.start-10{
    position: absolute;
    left: 10%;
}

.start-5{
    position: absolute;
    left: 5%;
}

/**********TOP**********/
.top-20{
    position: absolute;
    top: 20%;
}

.top-40{
    position: absolute;
    top: 40%;
}

.top-55{
    position: absolute;
    top: 55%;
}

.top-60{
    position: absolute;
    top: 60%;
}

.top-65{
    position: absolute;
    top: 65%;
}

/**********SHAPES**********/

.bg {
    height: auto;
    width: 100vw;
    object-fit: fill;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.welcomeContainer {
    position: relative;
    width: 100%;
    max-height: calc(100vh - 70px);
    background-image: url("/assets/images/welcomePage1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .welcomeContainer::before {
    content: "";
    display: block;
    padding-top: 50%; /* 1:1 aspect ratio (100% / 2) */
  }
  
  .textContainer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    color: #206abc;
  }
  
.textContainer h1,
.textContainer h2,
.textContainer p {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.1;
  background-image: linear-gradient(to bottom right, #4451b3, #212529);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  transition: font-size 0.5s; /* Add a smooth transition for font size changes */
}

.textContainer h2 {
  font-size: 3rem;
}

.textContainer p {
  font-size: 1.5rem;
}
.textContainer button {
    color: #ffffff;
    background-color: #4851b1;
    border-color: #4851b1;
    margin-top: 10px;
}


@media (max-width: 1450px) {
    .textContainer h1,
    .textContainer h2,
    .textContainer p {
      font-size: 3.5rem; /* Adjust font size for smaller screens */
    }
  
    .textContainer h2 {
      font-size: 2rem; /* Adjust font size for smaller screens */
    }
  
    .textContainer p {
      font-size: 1rem; /* Adjust font size for smaller screens */
    }
  }

  @media (max-width: 1000px) {
    .textContainer h1,
    .textContainer h2,
    .textContainer p {
      font-size: 2.5rem; /* Adjust font size for smaller screens */
    }
  
    .textContainer h2 {
      font-size: 1.75rem; /* Adjust font size for smaller screens */
    }
  
    .textContainer p {
      font-size: 0.75rem; /* Adjust font size for smaller screens */
    }
  }
  @media (max-width: 760px) {
    .textContainer h1,
    .textContainer h2,
    .textContainer p {
      font-size: 1.85rem; /* Adjust font size for smaller screens */
    }
  
    .textContainer h2 {
      font-size: 1.15rem; /* Adjust font size for smaller screens */
    }
  
    .textContainer p {
      font-size: 0rem; /* Adjust font size for smaller screens */
    }
  }