.nextDugme {
    color: black;
    border-radius: 3px;
    border-color: black;
    margin-left: 137px;

}

.inputPolje{
    width: 1000px
}

.nextDugme1 {
    color: black;
    border-radius: 3px;
    border-color: black;

}

.container{
    height: 550px;
}

mat-form-field {
    width: 100%;
    margin: auto;
}

.comboSimptomi{
    height: 150px;
}

.comboSelect{
    height: 50px;
    text-align: left;
}

.backDugme {
    color: black;
    border-radius: 3px;
    border-color: black;
}

.backDugme1 {
    color: black;
    border-radius: 3px;
    border-color: black;
    align-content: right;
    position: absolute;
    left: 1080px;
    top: 490px; 
}

.backDugme2 {
    color: black;
    border-radius: 3px;
    border-color: black;
    align-content: right;
    position: absolute;
    left: 1080px;
    top: 530px; 
}

.backDugme3 {
    color: black;
    border-radius: 3px;
    border-color: black;
    align-content: right;
    position: absolute;
    left: 1080px;
    top: 592px; 
}

.plusic{
    border-color: transparent;
    background-color: transparent;
    height: 26px;
    width: 26px;
    position: absolute;
    left: 1080px;
    top: 250px;    
}

.plusicSlika{
    height: 26px;
    width: 26px;
}

.inputPolje{
    color: black;
}
