
<div class="container">
    <div>

        <h1><b>Report</b></h1>

        <br>
        <mat-form-field appearance="fill">
            <mat-label>Report</mat-label>
            <textarea name="Text1" wrap="soft" cols="60" rows="15" matInput [(ngModel)]="report" > </textarea>
        </mat-form-field><br>

        <a>
            <button (click)="back()" class="backDugme" mat-stroked-button>
                <b>Back</b> 
            </button>
        </a>

        <a >
            <button (click)="next()" class="backDugme2" mat-stroked-button>
                 <b>Next</b> 
            </button>
        </a>
       
    </div>
</div>
