/* You can add global styles to this file, and also import other style files */
/* @import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css'); */           /* AKO SE NEKOME DESAVALO DA FRONT IZGLEDA DRUGACIJE OTKOMENTARISITE */
body {
    background-image: url("/assets/images/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    padding-top: 70px;
}
html, body { height: 100%; }

::-webkit-scrollbar {
    width: 0px; /* Adjust this value as needed */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0); /* Transparent background */
    border-radius: 6px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0); /* Transparent background */
  }