<form [formGroup]="workoutForm" (ngSubmit)="onSubmit()">
  <h3 mat-dialog-title>Add Strenght Workout</h3>
  <h4 matCardSubtitle>Date: {{ currentDate }}</h4>

  <div mat-dialog-content>
    <div class="inputContainer">
      <label for="duration">Duration (minutes)</label>
      <input type="number" class="custom-input" id="duration" formControlName="duration" />
      <div *ngIf="workoutForm.get('duration').invalid && (workoutForm.get('duration').dirty || workoutForm.get('duration').touched)" class="text-danger mt-1">
        Please enter a duration (in minutes).
      </div>
    </div>

    <div class="inputContainer">
      <label for="description">Description</label>
      <textarea class="custom-textarea" id="description" formControlName="description"></textarea>
      <div
        *ngIf="workoutForm.get('description').invalid && (workoutForm.get('description').dirty || workoutForm.get('description').touched)"
        class="text-danger mt-1"
      >
        Description cannot exceed 255 characters.
      </div>
    </div>

    <h3 style="margin-bottom: 0.75rem;">Exercises</h3>
    <form [formGroup]="exerciseForm" (ngSubmit)="onSubmitExercise()">
      <div class="inputContainer">
        <label for="exercise">Exercise</label>
        <input type="text" class="custom-input" id="exercise" formControlName="name" />
        <div *ngIf="exerciseForm.get('name').invalid && (exerciseForm.get('name').dirty || exerciseForm.get('name').touched)" class="text-danger mt-1">
          Please enter the name of the exercise.
        </div>
      </div>

      <div class="inputContainer">
        <label for="sets">Sets</label>
        <input type="number" class="custom-input" id="sets" formControlName="sets" />
        <div *ngIf="exerciseForm.get('sets').invalid && (exerciseForm.get('sets').dirty || exerciseForm.get('sets').touched)" class="text-danger mt-1">
          Please enter the number of sets.
        </div>
      </div>

      <div class="inputContainer">
        <label for="reps">Reps</label>
        <input type="number" class="custom-input" id="reps" formControlName="reps" />
        <div *ngIf="exerciseForm.get('reps').invalid && (exerciseForm.get('reps').dirty || exerciseForm.get('reps').touched)" class="text-danger mt-1">
          Please enter the number of reps.
        </div>
      </div>

      <div class="inputContainer">
        <label for="weightLifted">Weight (lbs)</label>
        <input type="number" class="custom-input" id="weightLifted" formControlName="weightLifted" />
        <div *ngIf="exerciseForm.get('weightLifted').invalid && (exerciseForm.get('weightLifted').dirty || exerciseForm.get('weightLifted').touched)" class="text-danger mt-1">
          Please enter the weight (in lbs).
        </div>
      </div>

      <button mat-raised-button color="primary" [disabled]="exerciseForm.invalid" type="submit">Add Exercise</button>
    </form>
    <div *ngFor="let exerciseDTO of exercises" class="allExercises">
        <div class="exerciseTile">
            {{ exerciseDTO.name }}
        </div>
    </div>
  </div>

  <div mat-dialog-actions>
    <button mat-raised-button color="secondary" (click)="onNoClick()">Cancel</button>
    <button mat-raised-button color="primary" [disabled]="workoutForm.invalid" type="submit">Save</button>
  </div>
</form>
