<div style="width: 100%">
  <form [formGroup]="availabilityCalendarForm" (ngSubmit)="onSubmit()">
    <div class="lineContainer">
      <div class="inputContainer">
        <select class="custom-select" formControlName="month">
          <option *ngFor="let month of months" [value]="month">
            {{ month }}
          </option>
        </select>
      </div>

      <div class="inputContainer">
        <input class="custom-input" type="number" formControlName="year" />
      </div>

      <button class="custom-button" type="submit">Change</button>
      <button class="custom-button" (click)="openAddWorkoutDialog()">Add workout</button>
    </div>
  </form>

  <div class="inlineGrid">
    <div class="calendarContainer">
      <div *ngFor="let weekDay of weekDays" class="calendarHeaderItem">
        {{ weekDay }}
      </div>
      <div *ngFor="let workoutDTOList of workoutInfoDTOs" class="calendarItem">
        <div *ngFor="let workoutDTO of workoutDTOList; let isFirst = first">
          <div class="calendarItemDate" *ngIf="isFirst">
            {{ workoutDTO.date | date: 'longDate' }}
          </div>
          <div class="calendarItemType" [style.backgroundColor]="setColor(workoutDTO.type)">
            {{ getWorkoutTypeString(workoutDTO.type) }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
