<div style="width: 100%">
  <form [formGroup]="availabilityCalendarForm" (ngSubmit)="onSubmit()">
    <div class="lineContainer">
      <div class="inputContainer">
        <select class="custom-select" formControlName="month">
          <option *ngFor="let month of months" [value]="month">
            {{ month }}
          </option>
        </select>
      </div>

      <div class="inputContainer">
        <input class="custom-input" type="number" formControlName="year" />
      </div>

      <button class="custom-button" type="submit">Change</button>
    </div>
  </form>

  <div class="inlineGrid">
    <div class="calendarContainer">
      <div *ngFor="let weekDay of weekDays" class="calendarHeaderItem">
        {{ weekDay }}
      </div>
      <div *ngFor="let workoutDTO of workoutInfoDTOs" class="calendarItem" [style.backgroundColor]="setColor(workoutDTO.type)">
        <div class="calendarItemDate">
          {{ workoutDTO.date | date: 'longDate' }}
        </div>
        <div class="calendarItemType" *ngIf="workoutDTO.type">
          {{ getWorkoutTypeString(workoutDTO.type) }}
        </div>
      </div>
    </div>
  </div>
</div>
