<app-manager-nav-bar></app-manager-nav-bar>
<div id="wrapper">

    <div id="div1">
        <button class="dugmePregled">
            <a href="/blood-bank-registration">
                <img class="slikaPregled" src="/assets/images/registration.png" alt="buttonpng"
                    border="0" />
            </a>
        </button>
        <p class="imeParagraf"> <b>Register Blood Bank</b></p>
    </div>

    <div id="div2">
        <button class="dugmeTermin">
            <a href="/report-settings">
                <img class="slikaIzvestaj" src="https://icons.veryicon.com/png/o/miscellaneous/effevo/daily-report.png"
                    alt="buttonpng" border="0" />
            </a>
        </button>
        <p class="imeParagraf"> <b>Report settings</b></p>
    </div>

    <div id="div3">
        <button class="dugmeTermin">
            <a href="/blood-banks">
                <img class="slikaIzvestaj"
                    src="/assets/images/blood bank.png"
                    alt="buttonpng" border="0" />
            </a>
        </button>
        <p class="imeParagraf"> <b>Blood Banks</b></p>
    </div>

    <div class="butt">
        <button class="dugmeTermin">
            <a href="/tender-statistics">
                <img class="slikaPregled"
                    src="/assets/images/statistics.png"
                    alt="buttonpng" border="0" />
            </a>
        </button>
        <p class="imeParagraf"> <b>Tender Statistics</b></p>
    </div>

    <div class="butt">
        <button class="dugmeTermin">
            <a href="/view-tenders">
                <img class="slikaPregled"
                    src="/assets/images/tender.png"
                    alt="buttonpng" border="0" />
            </a>
        </button>
        <p class="imeParagraf"> <b>Tenders</b></p>
    </div>
</div>

<div class="divAppointments">

</div>