.mat-stroked-button {
    color: #382110;
}


.konzilijum{
    margin-top: 40px;
    margin-left: 600px;
    width: 30%;
}

mat-form-field {
    width: 100%;
    margin: auto;
}
.example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }

.dugme{
    border-color: black;
}
.w-80{
    position: inherit;
	width: 80%;
}
