<app-manager-nav-bar></app-manager-nav-bar>
<section class="vh-100">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-9">
  
          <h1 class="text-white mb-4">View tender statistics</h1>
  
          <div class="card" style="border-radius: 15px;">
            <div class="card-body">
                Start date:
                <div class="col-md-9 pe-5">
                    <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker" inline="true">
                        <input placeholder="Select date" type="date" id="example" [(ngModel)]="this.startDate" class="form-control">
                    </div>
                    End date:
                    <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker" inline="true">
                        <input placeholder="Select date" type="date" id="example" [(ngModel)]="this.endDate" class="form-control">
                    </div>
                </div>
            
                    <hr class="mx-n3">
                    <div class="px-5 py-4">
                      <button type="submit" class="btn btn-primary btn-lg" (click)="createTenderStatistcs()">Create tender statistcs</button>
                    </div>
      
      
                  </div>
                </div>

                <div class="card" style="border-radius: 15px;" [hidden]="this.isHidden">
                    <div class="card-body">
                      <h2>Hospital:</h2>
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">BloodType</th>
                            <th scope="col">Quantity</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let dem of statistics, let i = index">
                            <td>{{bloodType[i]}}</td>
                            <td>{{dem}}</td>
                            </tr>
                        </tbody>
                      </table>
                      
                       
                    </div>
                </div>

                <div class="card" style="border-radius: 15px;" [hidden]="this.isHidden">
                  <div class="card-body">
                    <h2>Blood banks:</h2>
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th scope="col">Blood bank</th>
                          <th scope="col">A+</th>
                          <th scope="col">B+</th>
                          <th scope="col">AB+</th>
                          <th scope="col">0+</th>
                          <th scope="col">A-</th>
                          <th scope="col">B-</th>
                          <th scope="col">AB-</th>
                          <th scope="col">0-</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let bank of bloodBanks, let i = index">
                          <td>{{bank.name}}</td>
                          <td>{{statisticOfBank[i][0]}}</td>
                          <td>{{statisticOfBank[i][1]}}</td>
                          <td>{{statisticOfBank[i][2]}}</td>
                          <td>{{statisticOfBank[i][3]}}</td>
                          <td>{{statisticOfBank[i][4]}}</td>
                          <td>{{statisticOfBank[i][5]}}</td>
                          <td>{{statisticOfBank[i][6]}}</td>
                          <td>{{statisticOfBank[i][7]}}</td>
                          </tr>
                      </tbody>
                    </table>
                    
                     
                  </div>
              </div>
        
              </div>
            </div>
          </div>
        </section>