<div class="center">
    <h1>Diet Statistics</h1>
</div>
<div class="chart-grid">
    <div class="chart">
        <canvas id="breakfastScoreChart">{{ breakfastScoreChart }}</canvas>
    </div>
    <div class="chart">
        <canvas id="lunchScoreChart">{{ lunchScoreChart }}</canvas>
    </div>
    <div class="chart">
        <canvas id="dinnerScoreChart">{{ dinnerScoreChart }}</canvas>
    </div>
    <div class="chart">
        <canvas id="waterScoreChart">{{ waterScoreChart }}</canvas>
    </div>
</div>