<div class="container" >
    <h5>{{errorMessage}}</h5>
    <div class="table-header" *ngIf="!errorMessage">
        <p class="table-title">Returned requests</p>
    </div>
    <table mat-table [dataSource]="dataSource" *ngIf="!errorMessage">
        <ng-container matColumnDef="Required Until">
            <th mat-header-cell *matHeaderCellDef class="cell-center header-row">Required Until</th>
            <td mat-cell *matCellDef="let request" class="clickable cell-center" (click)="chooseBloodRequest(request.id)">{{request.requiredForDate | date:'medium'}}</td>
        </ng-container>
        <ng-container matColumnDef="Quantity">
            <th mat-header-cell *matHeaderCellDef class="cell-center header-row">Quantity</th>
            <td mat-cell *matCellDef="let request" class="clickable cell-center" (click)="chooseBloodRequest(request.id)">{{request.bloodQuantity}}</td>
        </ng-container>
        <ng-container matColumnDef="Blood Type">
            <th mat-header-cell *matHeaderCellDef class="cell-center header-row">Blood Type</th>
            <td mat-cell *matCellDef="let request" class="clickable cell-center" (click)="chooseBloodRequest(request.id)">{{getBloodByValue(request.bloodType)}}</td>
        </ng-container>
        <ng-container matColumnDef="Reason">
            <th mat-header-cell *matHeaderCellDef class="cell-center header-row">Reason</th>
            <td mat-cell *matCellDef="let request" class="clickable cell-center" (click)="chooseBloodRequest(request.id)">{{request.reason}}</td>
        </ng-container>
        <ng-container matColumnDef="Comment">
            <th mat-header-cell *matHeaderCellDef class="cell-center header-row">Comment</th>
            <td mat-cell *matCellDef="let request" class="clickable cell-center" (click)="chooseBloodRequest(request.id)">{{request.comment}}</td>
        </ng-container>
        <ng-container matColumnDef="Status">
            <th mat-header-cell *matHeaderCellDef class="cell-center header-row">Status</th>
            <td mat-cell *matCellDef="let request" class="clickable cell-center" (click)="chooseBloodRequest(request.id)">{{getStateByValue(request.requestState)}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>

