<div class="w-100">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark w-80 mx-auto p-3 shadow-lg" style="border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;width:80vw">
      <a class="navbar-brand m-0" href="/homeManager"><div class="h1 mx-4">Home</div></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/homeManager"><div class="h3 m-1">Profile</div></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/feedbacks"><div class="h3 m-1">Feedbacks</div></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/homeManager"><div class="h3 m-1">Equipment</div></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/statistics"><div class="h3 m-1">Statistics</div></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/doctor-blood-requests"><div class="h3 m-1">Blood requests</div></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/malicious-patients"><div class="h3 m-1">Malicious patients</div></a>
          </li>
        </ul>
        <div class="mx-auto"></div>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link text-white" href="" (click)="logoutUser()"><div class="h3 mx-4 mt-2">Log out</div></a>
          </li>
        </ul>
      </div>
    </nav>
</div>
<div class="d-flex flex-column w-100">
  <div class="d-flex mx-4 ps-2 mt-5 fs-2 fw-bold pb-3 border-dark border-bottom border-3"><span>Patients Statistics</span></div>
  <div class="d-flex flex-wrap justify-content-evenly mx-4">
    <div class="mt-4 bg-light p-4 rounded mx-2 shadow-lg flex-fill" style="max-width:max(47%, 430px)">
        <span class="fs-5 fw-bold">Age distribution by doctor</span>
        <table class="table table-bordered table-hover mt-3">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">0-18</th>
                    <th scope="col">18-30</th>
                    <th scope="col">30-45</th>
                    <th scope="col">45-60</th>
                    <th scope="col">60-80</th>
                    <th scope="col">80+</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let stat of dataSource.data; index as i">
                    <th scope="row">{{i+1}}</th>
                    <td>{{ stat.Name }}</td>
                    <td>{{ stat.one }}</td>
                    <td>{{ stat.two }}</td>
                    <td>{{ stat.three }}</td>
                    <td>{{ stat.four }}</td>
                    <td>{{ stat.five }}</td>
                    <td>{{ stat.six }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="mt-4 bg-light p-4 rounded mx-2 shadow-lg flex-fill" style="max-width:max(47%, 430px); aspect-ratio: 2  / 1">
      <span class="fs-5 fw-bold">Age distribution by gender</span>
      <canvas id="genderAgeChart" class="mt-3">{{ genderAgeChart }}</canvas>
    </div>
  </div>        
  <div class="d-flex flex-wrap justify-content-evenly mx-4">
    <div class="mt-4 bg-light p-4 rounded mx-2 shadow-lg flex-fill" style="max-width:max(47%, 430px); aspect-ratio: 2  / 1">
      <span class="fs-5 fw-bold">Allergy popularity</span>
      <canvas  baseChart 
        [title]="barChartLegend"
        [type]="'pie'"
        [datasets]="allergyValues"
        [labels]="allergyNames"
        [options]="barChartOptions"> 
      </canvas>
    </div>
    <div class="mt-4 bg-light p-4 rounded mx-2 shadow-lg flex-fill" style="max-width:max(47%, 430px); aspect-ratio: 2  / 1">
      <span class="fs-5 fw-bold">Bloodtype popularity</span>
      <canvas id="bloodTypeChart" class="bg-light">{{ bloodTypeChart }}</canvas>
    </div>
  </div>

  <div class="d-flex mx-4 ps-2 mt-5 fs-2 fw-bold pb-3 border-dark border-bottom border-3"><span>Scheduling Appointments Statistics</span></div>
  <div class="d-flex flex-wrap justify-content-evenly mx-4">
    <div class="mt-4 bg-light p-4 rounded mx-2 shadow-lg flex-fill" style="max-width:max(47%, 430px); aspect-ratio: 2  / 1">
      <span class="fs-5 fw-bold">Ratio of linear and nonlinear schdulings</span>
      <canvas  baseChart 
        [title]="'Ratio of linear and nonlinear schdulings'"
        [type]="'pie'"
        [datasets]="linearAndNonlinearSchedulingsData"
        [labels]="linearAndNonlinearSchedulingsLables"
        [options]="barChartOptions"
        class="mt-3"> 
      </canvas>
    </div>
    <div class="mt-4 bg-light p-4 rounded mx-2 shadow-lg flex-fill" style="max-width:max(47%, 430px); aspect-ratio: 2  / 1">
      <span class="fs-5 fw-bold">Finished and unfinished schedulings per day</span>
      <canvas id="schedulingsPerDayChart" class="mt-3">{{ schedulingsPerDayChart }}</canvas>
    </div>
  </div>

  <div class="d-flex flex-wrap justify-content-evenly mx-4">
    <div class="mt-4 bg-light p-4 rounded mx-2 shadow-lg flex-fill" style="max-width:max(47%, 430px)">
      <span class="fs-5 fw-bold">Average number of steps for successful scheduling: {{avarageNumberOfSteps}}</span>
    </div>
    <div class="mt-4 bg-light p-4 rounded mx-2 shadow-lg flex-fill" style="max-width:max(47%, 430px)">
      <span class="fs-5 fw-bold">Average time for successful scheduling: {{ avarageSchedulingDuration }} seconds</span>
    </div>
  </div>

  <div class="d-flex flex-wrap justify-content-evenly mx-4">
    <div class="mt-4 bg-light p-4 rounded mx-2 shadow-lg flex-fill" style="max-width:max(47%, 430px); aspect-ratio: 2  / 1">
      <span class="fs-5 fw-bold">Average number of views for each steps</span>
      <canvas id="avarageNumberOfEachStep" class="mt-3">{{ avarageNumberOfEachStep }}</canvas>
    </div>
    <div class="mt-4 bg-light p-4 rounded mx-2 shadow-lg flex-fill" style="max-width:max(47%, 430px); aspect-ratio: 2 / 1">
      <span class="fs-5 fw-bold">Average time for each step in successful schedulings:</span>
    </div>
  </div>

  <div class="d-flex flex-wrap justify-content-evenly mx-4 mb-5">
    <div class="mt-4 bg-light p-4 rounded shadow-lg flex-fill" style="max-width:max(96.4%, 430px)">
      <span class="fs-5 fw-bold">Number of finished and unfinished schedulings per patient</span>
      <table class="table table-bordered table-hover mt-3">
          <thead>
              <tr>
                  <th scope="col">#</th>
                  <th scope="col">Full Name</th>
                  <th scope="col">Number of scheduled appointments</th>
                  <th scope="col">Number of interuped atempts</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let row of schedulingAppointmentEventsStatistic.numberOfFinishedAndUnfinishedSchedulingForAllPatients; index as i">
                  <th scope="row">{{i+1}}</th>
                  <td>{{ row.fullName }}</td>
                  <td>{{ row.numberOfFinishedSchedulings }}</td>
                  <td>{{ row.numberOfUnfinishedSchedulings }}</td>
              </tr>
          </tbody>
      </table>
    </div>
  </div>
</div>
